h2{
    margin-bottom: 1rem !important;
    .pron{
        font-family: sans-serif !important;
    }
}

.defs{

    .def{
        padding-left: 3rem;
        display: block;
        text-indent: -2rem;

        .tit{
            font-weight: bold;
        }
    }
}